#dropdownMenuButton {
    background-color: black;
    color: white;
    border: 2px solid gold; 
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
#dropdownMenuButton:hover {
    background-color: gold;
    color: black; 
    border: 2px solid black; 
}


.dropdown-menu {
    background-color: black;
    border: 1px solid gold; 
    padding: 10px 0;
}

.dropdown-item {
    color: white; 
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: gold;
    color: black; 
}

